*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url('./cloudsBackground1edit.png');
    background-size: cover;
}

#wrapper{
    margin: 120px auto ;
    max-width: 700px;
    width: 100%;
    background: blur(20px);
    border-radius: 5px;
    padding: 25px;
}
header{
    font-size: 30px;
    background: rgb(255, 230, 0);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#control_section{
    background: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 8px;
}

#view-section{
    background: white;
    text-align: center;
}

.list-container{
    border-radius: 20px;
}

.todo-container{
    height: 45px;
    line-height: 45px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    margin: 8px;
}

.todo-item{
    position: relative;
    width: 70%;
    text-align: center;
}

.todo-priority{
    width: 130px;
}