*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgb(127, 221, 250), rgb(253, 146, 226));
}

#wrapper{
    margin: 120px auto ;
    max-width: 700px;
    width: 100%;
    background: rgb(10, 10, 10);
    border-radius: 5px;
    padding: 25px;
}
header{
    font-size: 30px;
}

#control_section{
    background: rgb(13, 2, 41);
    color: white;
    text-align: center;
    padding: 8px;
}

#view-section{
    background: white;
    text-align: center;
}

.list-container{
    border-radius: 20px;
}

.todo-container{
    height: 45px;
    line-height: 45px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    margin: 8px;
}

.todo-item{
    position: relative;
    width: 70%;
    text-align: center;
}

.todo-priority{
    width: 130px;
}